<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spells Index</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    <nav>
        <a href="/spells/new">Add a New Spell</a>
    </nav>
    <h1>Spells</h1>
    <ul>
        <% for(let i = 0; i < spellNames.length; i++) { %>
            <li>
                <a href="/spells/<%= spellNames[i].id %>">
                    <%= spellNames[i].name %> 
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>
