<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>
    <h1>Welcome to the DND 5E Spell Tracker</h1>
    <h2> Select View Spell List Below to Get Started</h2>
    
    <a href="/spells/"><input type="button" name="" value="View Spell List"/></a>

</body>
</html>